* {
    box-sizing: border-box;
  }
  
  #canvas {
    background: #f0f0f0;
    border-radius: 1px;
    padding: 1px;
  }
  
  #source {
    display: none;
  }
  
  .body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .vertical-navbar {
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    background-color: #f8f9fa; /* Light background color */
  }
  .vertical-navbar .nav-link {
    font-size: 1.2rem; /* Larger font size for better visibility */
    color: #343a40; /* Dark text color */
    padding: 0.5rem 1rem; /* Adjust padding */
  }
  .vertical-navbar .nav-link:hover {
    color: #0d6efd; /* Change color on hover */
  }

  /* Custom styles for the canvas */
  #canvas_button {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  .btn{
      margin: 2px;
  }